.container {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
}
.container > .my-search {
  padding-right: 15px;
  background-color: #ebeced;
}
.container > .search-content {
  font-size: 0.7rem;
  color: #666;
}
.container > .search-content > .search-item {
  padding: 0.75rem;
  background-color: #fff;
  margin-bottom: 0.55rem;
}
.container > .search-content > .search-item > p {
  font-weight: 500;
  padding-bottom: 0.9rem;
}
.container > .search-content > .search-item > .no-inner {
  font-size: .6rem;
  color: #999;
}
.container > .search-content > .search-item > .off-list {
  margin-left: 0.75rem;
  position: relative;
  padding: 0.625rem 0;
}
.container > .search-content > .search-item > .off-list > .off-name {
  width: 3.75rem;
  height: 1.5rem;
  border-radius: 4px;
  background-color: #E6E6E6;
  text-align: center;
  line-height: 1.5rem;
  color: #666;
  margin-bottom: 0.625rem;
}
.container > .search-content > .search-item > .off-list > .off-inner {
  color: #999;
}
.container > .search-content > .search-item > .off-list > .icon-box {
  position: absolute;
  right: 0;
  top: 40%;
}
